*.wav
*.png
*.sqlite3
*.zip
# Ignore everything inside the virtual env directories
/spacytut/mypython/*
/semantic/semanticenv/*
**/mypython/*
**/semanticenv/*
/spacytut/mypython/**
/semantic/semanticenv/**
.ipynb_checkpoints



#to clear files now ignored by .gitignore
#git rm -r --cached .
#git add -A
#git commit -am 'Removing ignored files'
